<!--@POSTPROC: ./postproc.sh-->
<module>
<User_List f="nodata">
  <User_list f="noscroll">
    <User_list t="list" f="nolabel user" l="Control"/>
  </User_list>
<!--   <Manual>
    <Manual t="webview" f="nolabel"/>
  </Manual> -->
</User_List>

<Control f="nodata">
  <Control f="noscroll">
    <!-- 'Create new [dropdown of entity types (SE, mound, etc.)]' ['Create' button] → opens Element Group (SE, mound, etc.) 'Add' screen.
    Underneath: list of five last features recorded (should be five rows NOT hidden scrolling)
    Underneath: GPS diagnostics (as specified above)
     -->


    <New_tree t="button" l="Tree"/>

     <GPS_diagnostics t="gpsdiag"/>
    <Recent_records t="list"/>

  </Control>
  <Map f="noscroll">
  <!--SRID: 4326-->
    <Map t="map" f="nolabel"/>
  <!--<Create_Record l="..."/>      Added via @POSTPROC, but in columns-->
  </Map>

  <search/>
  <!--"Select User" dropdown has been added using @POSTPROC-->


  <Autonumbering>
    <autonum/>
  </Autonumbering>

</Control>

<!--
######## ########  ######## ########
   ##    ##     ## ##       ##
   ##    ##     ## ##       ##
   ##    ########  ######   ######
   ##    ##   ##   ##       ##
   ##    ##    ##  ##       ##
   ##    ##     ## ######## ########   -->

<Tree>
  <fmt>TR{{Tree_ID}}</fmt>
  <General>
    <Tree_ID f="autonum nocertainty"/>
    <author f="nocertainty noannotation"/>
    <timestamp f="nocertainty noannotation"/>
    <gps f="notnull"/>
    <Find_this_in_the_map l="Control/Map">
        Find this in the map...
      </Find_this_in_the_map>
    <Device_photos t="camera" f="nocertainty">
        <desc>Please take one or more overview shots, and if relevant, additional detailed shots of prominent features. If using a DSLR, enter relevant details below and ensure these are uploaded at days end.</desc>
    </Device_photos>
  </General>

  <Landscape_context>
    <Landform_pattern>
        <desc>300m observational unit.</desc>
        <!--@SOURCE: ../../vocab/landform_pattern.xml-->
    </Landform_pattern>
    <Landform_element>
        <desc>30m observational unit</desc>
        <!--@SOURCE: ../../vocab/landform_elements.xml-->
    </Landform_element>
    <Dominant_vegetation_type>
        <desc>30m observational unit, uppermost vegetation stratum only</desc>
        <!--@SOURCE: ../../vocab/veg_struct_form.xml-->
    </Dominant_vegetation_type>
    <Dominant_vegetation_cover f="nocertainty">
        <desc>Vegetation cover, 30 m observational unit, uppermost vegetation stratum only</desc>
        <!--@SOURCE: ../../vocab/veg_struct_cov.xml-->
    </Dominant_vegetation_cover>
    <Additional_environmental_notes f="nocertainty noannotation">
        <desc>Additional notes about landscape, vegetation, geomorphology of significance and not already captured</desc>
    </Additional_environmental_notes>


  </Landscape_context>
  <Feature_details>
    <Tree_type>
        <desc>Select the most appropriate tree type</desc>
        <!--@SOURCE: ../../vocab/tree_types.xml-->
    </Tree_type>
    <Species>
        <desc>Select the species, if known</desc>
        <!--@SOURCE: ../../vocab/tree_species.xml-->
    </Species>
    <Girth_mm b="decimal" f="noannotation nocertainty">
        <desc>Girth should be measured at 'chest height' i.e. 1.3 m above ground, in milimeters.</desc>

    </Girth_mm>
    <Tree_height f="nocertainty">
        <desc>Choose the most appropriate size range for this tree. Select 'indeterminate' for all felled trees or those that have lost upper limbs</desc>
        <!--@SOURCE: ../../vocab/tree_height.xml-->
    </Tree_height>
    <Tree_condition f="nocertainty noannotation">
        <desc>Assess the condition of the tree. For living trees, consider issues such as the number of dead or missing limbs, and areas of damage</desc>
        <!--@SOURCE: ../../vocab/tree_condition.xml-->
    </Tree_condition>
    <Number_of_scars b="integer" f="nocertainty noannotation">
        <desc>List the total number of scars recorded for this tree</desc>
    </Number_of_scars>
    <Stump_height_mm b="decimal" f="nocertainty noannotation">
        <desc>Measure the height, in millimetres, of any stumps associated with this tree</desc>
    </Stump_height_mm>
    <Sources_of_damage t="checkbox" f="nocertainty">
        <!--@SOURCE: ../../vocab/manage_damage.xml-->
    </Sources_of_damage>
    <Additional_notes f="nocertainty noannotation">
      <desc>Additional notes about the feature or associated artefacts not recorded elsewhere.
      </desc>
    </Additional_notes>
  </Feature_details>
  <Scar f="noscroll">
    <New_scar t="button" lc="Scar"/>
    <List_of_related_scars t="list" ec="Scar"/>
  </Scar>
  <Supplementary>
    <Paper_notes_and_sketches t="camera" f="nocertainty">
      <desc>Photograph or otherwise upload any hard copy notes, sketches or plans associated with this feature. Ensure north arrow, approximate scale and a key are included. Use annotation for additional comments.</desc>
    </Paper_notes_and_sketches>

    <External_camera_ID f="nocertainty">
        <desc>Select other cameras used for photography (if applicable)</desc>
        <!--@SOURCE: ../../vocab/camera_ids.xml-->
    </External_camera_ID>
    <External_camera_file_names_and_attachment f="nocertainty">
      <desc>Provide file names and brief captions for images taken with external camera, if applicable.</desc>
    </External_camera_file_names_and_attachment>
    <External_camera_image_attachment t="file" f="nocertainty">
      <desc>Upload files on server, and annotate those files with captions.
      </desc>
    </External_camera_image_attachment>
    <Additional_edits_or_uploads_required t="dropdown" f="nocertainty">
      Additional edits or uploads required?
      <desc>If you know that there is missing data such as camera photographs or other issues to be rectified, please indicate.</desc>
      <!--@SOURCE: ../../vocab/yesno.xml-->
    </Additional_edits_or_uploads_required>
    <Editing_notes f="nocertainty">
      <desc>Describe in brief editing work required</desc>
    </Editing_notes>
  </Supplementary>
</Tree>

<Scar>
  <fmt>TR{{Tree_ID}}-SC{{Scar_ID}}</fmt>
  <Scar>
    <Tree_ID f="nocertainty" i="Tree/General/Tree_ID" />
    <Scar_ID f="autonum nocertainty"/>
    <author f="nocertainty"/>
    <timestamp/>
    <Scar_type>
      <!--@SOURCE: ../../vocab/scar_types.xml-->
    </Scar_type>
    <Axe_marks_present t="radio" f="nocertainty">
      <!--@SOURCE: ../../vocab/yesno.xml-->
    </Axe_marks_present>
    <Axe_mark_count b="integer" f="noannotation"/>
    <Maximum_axe_mark_length_mm b="decimal" f="noannotation">
      Maximum axe mark length (mm)
    </Maximum_axe_mark_length_mm>
    <Scar_height_above_ground_mm b="decimal">
        <desc>Measure from the ground surface to the bottom of the scar, if applicable. Please note that the scar base is the lowermost area of axe damage, rather than the scar dry face</desc>
    </Scar_height_above_ground_mm>
    <Scar_orientation_degrees b="decimal">
      Scar orientation (degrees)
      <desc>What is the approximate compass bearing of the scar?</desc>
    </Scar_orientation_degrees>
    <Scar_length_mm b="decimal">
        <desc>Measure the maximum length of scar, i.e., between the upper- and lower-most cut marks observed</desc>
    </Scar_length_mm>
    <Scar_width_mm b="decimal">
        <desc>Measure the maximum width of scar, i.e., between the widest lateral cut marks observed</desc>
    </Scar_width_mm>
    <Aperture_length_mm b="decimal">
        <desc>Only applicable on scars featuring an aperture into the tree hollow, for example, sugarbag scars. Measure the maximum length of the actual aperture.</desc>
    </Aperture_length_mm>
    <Aperture_width_mm b="decimal">
        <desc>Only applicable on scars featuring an aperture into the tree hollow, for example, sugarbag scars. Measure the maximum width of the actual aperture.</desc>
    </Aperture_width_mm>
    <Device_photos_of_scar t="camera">
        <desc>Please take one or more overview shots, and if relevant, additional detailed shots of prominent features. If using a DSLR, enter relevant details below and ensure these are uploaded at days end.</desc>
    </Device_photos_of_scar>
    <Additional_notes f="nocertainty noannotation">
      <desc>Additional notes about the feature or associated artefacts not recorded elsewhere.
      </desc>
    </Additional_notes>
    <External_camera_ID_scars f="nocertainty">
      External camera ID (scars)
        <desc>Select other cameras used for photography (if applicable)</desc>
        <!--@SOURCE: ../../vocab/camera_ids.xml-->
    </External_camera_ID_scars>
    <External_camera_file_names_and_attachment f="nocertainty">
      <desc>Provide file names and brief captions for images taken with external camera, if applicable.</desc>
    </External_camera_file_names_and_attachment>
    <External_camera_image_attachment t="file" f="nocertainty">
      <desc>Upload files on server, and annotate those files with captions.
      </desc>
    </External_camera_image_attachment>
    <New_scar t="button"/>

  </Scar>
</Scar>



<logic><![CDATA[




<!--@SOURCE: logic/sync.bsh-->
<!--@SOURCE: logic/gis-shared.bsh-->
<!--@SOURCE: logic/custom-search.bsh-->
<!--@SOURCE: logic/recent-records.bsh-->
<!--@SOURCE: logic/cascade-delete.bsh-->
<!--@SOURCE: logic/find-in-map.bsh-->
<!--@SOURCE: logic/autonumbering-validation.bsh-->
<!--@SOURCE: logic/new-record-in-boundary.bsh-->
<!--@SOURCE: logic/leave-gps-verification.bsh-->



]]></logic>

</module>
