<!--@POSTPROC: ./postproc.sh-->
<module>
<User_List f="nodata">
  <User_List f="noscroll">
    <User_List t="list" f="nolabel user" l="Control"/>
  </User_List>
<!--   <Manual>
    <Manual t="webview" f="nolabel"/>
  </Manual> -->
</User_List>

<Control f="nodata">
	<Control f="noscroll">
		<!-- 'Create new [dropdown of entity types (SE, mound, etc.)]' ['Create' button] → opens Element Group (SE, mound, etc.) 'Add' screen.
		Underneath: list of five last features recorded (should be five rows NOT hidden scrolling)
		Underneath: GPS diagnostics (as specified above)
		 -->
 		
 		
		<New_Burial t="button" l="Burial"/>
		<GPS_diagnostics t="gpsdiag"/>
		<Recent_records t="list"/>
	</Control>
	<Map f="noscroll">
	<!--SRID: 4326-->
		<Map t="map" f="nolabel"/>
	<!--<Create_Record l="..."/>      Added via @POSTPROC, but in columns-->
	</Map>
	
	<search/>
	<!--"Select User" dropdown has been added using @POSTPROC-->
	

	<Autonumbering>
		<autonum/>
	</Autonumbering>
	
</Control>	


<!-- 
########  ##     ## ########  ####    ###    ##       
##     ## ##     ## ##     ##  ##    ## ##   ##       
##     ## ##     ## ##     ##  ##   ##   ##  ##       
########  ##     ## ########   ##  ##     ## ##       
##     ## ##     ## ##   ##    ##  ######### ##       
##     ## ##     ## ##    ##   ##  ##     ## ##       
########   #######  ##     ## #### ##     ## ########  -->

<Burial>
	<fmt>BUR{{Burial_ID}}</fmt>
	<General>
		<Burial_ID f="id autonum nocertainty"/>
		<author f="nocertainty"/>
		<timestamp f="nocertainty noannotation"/>
		<Level_of_recording f="nocertainty">
		    <desc>Detail the recording approach used</desc>
		    <!--@SOURCE: ../vocab/phase.xml-->
		</Level_of_recording>
		<gps f="notnull"/>
		<Find_This_in_The_Map l="Control/Map">
	      Find This in The Map...
	    </Find_This_in_The_Map>  
		<Boundary_criterion f="nocertainty">
		    <desc>Select criterion used in recording boundary coordinates</desc>
		    <!--@SOURCE: ../vocab/boundary_types.xml-->
		</Boundary_criterion>
		<Device_photos t="camera" f="nocertainty">
		    <desc>Please take one or more overview shots, and if relevant, additional detailed shots of prominent features. If using a DSLR, enter relevant details below and ensure these are uploaded at days end.</desc>
		</Device_photos>
	</General>
	<Boundary f="noscroll">
		<New_Boundary_Point t="button" lc="Burial_Boundary_point"/>
		<List_of_Related_Boundary_Points t="list" ec="Burial_Boundary_point"/>
	</Boundary>
	<Landscape_context>
		<Landform_pattern>
		    <desc>300m observational unit.</desc>
		    <!--@SOURCE: ../vocab/landform_pattern.xml-->
		</Landform_pattern>
		<Landform_element>
		    <desc>30m observational unit</desc>
		    <!--@SOURCE: ../vocab/landform_elements.xml-->
		</Landform_element>
		<Dominant_vegetation_type>
		    <desc>30m observational unit, uppermost vegetation stratum only</desc>
		    <!--@SOURCE: ../vocab/veg_struct_form.xml-->
		</Dominant_vegetation_type>
		<Dominant_vegetation_cover f="nocertainty">
		    <desc>Vegetation cover, 30 m observational unit, uppermost vegetation stratum only</desc>
		    <!--@SOURCE: ../vocab/veg_struct_cov.xml-->
		</Dominant_vegetation_cover>
		<Additional_environmental_notes f="nocertainty noannotation">
		    <desc>Additional notes about landscape, vegetation, geomorphology of significance and not already captured</desc>
		</Additional_environmental_notes>
		<Morphology_type>
		    <desc>Consider the geomorphological context of the site and select most appropriate response. Use notes below for additional description or if unsure</desc>
		    <!--@SOURCE: ../vocab/feat_morphology.xml-->
		</Morphology_type>
		<Morphology_notes f="nocertainty noannotation">
		    <desc>Record any additional notes about site morphology not captured elsewhere</desc>
		</Morphology_notes>
		
	</Landscape_context>
	<Feature_details>
		<Cultural_associations>
		    <desc>Select cultural associations for this feature</desc>
		    <!--@SOURCE: ../vocab/cultural_associations.xml-->
		</Cultural_associations>
		<Maximum_age>
		    <desc>What is the age of the oldest burial?</desc>
		    <!--@SOURCE: ../vocab/burial_chron.xml-->
		</Maximum_age>
		<Minimum_age>
		    <desc>What is the age of the youngest burial</desc>
		    <!--@SOURCE: ../vocab/burial_chron.xml-->
		</Minimum_age>
		<Age_range--specific>
		    <desc>Note both minimum and maximum ages, where known.</desc>
		</Age_range--specific>
		<Burial_form>
		    <desc>What is the form of the burial?</desc>
		    <!--@SOURCE: ../vocab/burial_form.xml-->
		</Burial_form>
		<Burial_number b="integer">
		    <desc>A count of individual burials observed</desc>
		</Burial_number>
		<Grave_markers_used t="checkbox">
		    <desc>Select all grave marker types associated with this feature</desc>
		    <!--@SOURCE: ../vocab/burial_nos.xml-->
		</Grave_markers_used>
		<Preservation t="checkbox">
		    <desc>Select all preservation conditions that apply to this feature</desc>
		    <!--@SOURCE: ../vocab/burial_preserv.xml-->
		</Preservation>
		<Orientation_degrees b="decimal">
			Orientation (degrees)
		    <desc>What is the orientation (degrees, measuring from feet to head) of burials? For multiple burials, record average orientation and provide additional notes or sketches to illustrate</desc>
		</Orientation_degrees>
		<Artefacts t="checkbox">
		    <desc>What, if any, artefacts or other cultural materials are associated with this burial</desc>
		    <!--@SOURCE: ../vocab/burial_artefacts.xml-->
		</Artefacts>
		<Elements_present t="checkbox">
		    <desc>Which skeletal elements are visible?</desc>
		    <!--@SOURCE: ../vocab/burial_elements.xml-->
		</Elements_present>
		<Additional_notes f="nocertainty noannotation"> 
			<desc>Additional notes about the feature or associated artefacts not recorded elsewhere.
			</desc>
		</Additional_notes>
	</Feature_details>
	<Supplementary>
		<Paper_notes_and_sketches t="camera" f="nocertainty">
		    <desc>Photograph or otherwise upload any hard copy notes, sketches or plans associated with this feature. Ensure north arrow, approximate scale and a key are included. Use annotation for additional comments.</desc>
		</Paper_notes_and_sketches>
		<External_camera_ID f="nocertainty">
		    <desc>Select other cameras used for photography (if applicable)</desc>
		    <!--@SOURCE: ../vocab/camera_ids.xml-->
		</External_camera_ID>
		<External_camera_file_names_and_attachment f="nocertainty">
			<desc>Provide file names and brief captions for images taken with external camera, if applicable.</desc>
		</External_camera_file_names_and_attachment>
		<External_camera_image_attachment t="file" f="nocertainty"> 
			<desc>Upload files on server, and annotate those files with captions.
			</desc>
		</External_camera_image_attachment>
		<Survey_instrument_name >
		    <desc>If recording coincides with instrument survey, please select appropriate instrument name.</desc>
		    <!--@SOURCE: ../vocab/survey_instr.xml-->
		</Survey_instrument_name>
		<Survey_instrument_data>
		    <desc>If recording coincides with instrument survey, please detail job name logged to instrument and associated point IDs or range of IDs associated with this feature.</desc>
		</Survey_instrument_data>
	</Supplementary>
</Burial>
<Burial_Boundary_point>
	<fmt>BUR{{Burial_ID}}-BP{{Burial_Boundary_Point_ID}}</fmt>
	<Burial_Boundary_point>

		<Burial_ID f="id nocertainty" i="Burial/General/Burial_ID">
		</Burial_ID>
		<Burial_Boundary_Point_ID f="id autonum nocertainty">
		</Burial_Boundary_Point_ID>
		<timestamp f="nocertainty noannotation"/>
		<gps f="notnull"/>
		<Find_This_in_The_Map l="Control/Map">
	      Find This in The Map...
	    </Find_This_in_The_Map>  
		<Comment f="nocertainty noannotation">
			<desc>Use this field to document any relevant information about the recorded point</desc>
		</Comment>
		<New_Boundary_Point t="button"/>
	</Burial_Boundary_point>
</Burial_Boundary_point>


<logic><![CDATA[





<!--@SOURCE: logic/sync.bsh-->
<!--@SOURCE: logic/gis-shared.bsh-->
<!--@SOURCE: logic/custom-search.bsh-->
<!--@SOURCE: logic/recent-records.bsh-->
<!--@SOURCE: logic/cascade-delete.bsh-->
<!--@SOURCE: logic/find-in-map.bsh-->
<!--@SOURCE: logic/autonumbering-validation.bsh-->
<!--@SOURCE: logic/new-record-in-boundary.bsh-->
<!--@SOURCE: logic/leave-gps-verification.bsh-->



]]></logic>

</module>

