<!--@POSTPROC: ./postproc.sh-->
<module>
<User_List f="nodata">
  <User_List f="noscroll">
    <User_List t="list" f="nolabel user" l="Control"/>
  </User_List>
<!--   <Manual>
    <Manual t="webview" f="nolabel"/>
  </Manual> -->
</User_List>

<Control f="nodata">
	<Control f="noscroll">
		<!-- 'Create new [dropdown of entity types (SE, mound, etc.)]' ['Create' button] → opens Element Group (SE, mound, etc.) 'Add' screen.
		Underneath: list of five last features recorded (should be five rows NOT hidden scrolling)
		Underneath: GPS diagnostics (as specified above)
		 -->
 		
 		
		<New_Mound t="button" l="Mound"/>
		<GPS_diagnostics t="gpsdiag"/>
		<Recent_records t="list"/>
	</Control>
	<Map f="noscroll">
	<!--SRID: 4326-->
		<Map t="map" f="nolabel"/>
	<!--<Create_Record l="..."/>      Added via @POSTPROC, but in columns-->
	</Map>
	
	<search/>
	<!--"Select User" dropdown has been added using @POSTPROC-->
	

	<Autonumbering>
		<autonum/>
	</Autonumbering>
	
</Control>	


<!--
##     ##  #######  ##     ## ##    ## ########  
###   ### ##     ## ##     ## ###   ## ##     ## 
#### #### ##     ## ##     ## ####  ## ##     ## 
## ### ## ##     ## ##     ## ## ## ## ##     ## 
##     ## ##     ## ##     ## ##  #### ##     ## 
##     ## ##     ## ##     ## ##   ### ##     ## 
##     ##  #######   #######  ##    ## ########  	
	-->
<Mound>
	<fmt>MD{{Mound_ID}}</fmt>
	<General>
		<Mound_ID f="id autonum nocertainty"/>
		<author f="nocertainty"/>
		<timestamp f="nocertainty noannotation"/>
		<Level_of_recording f="nocertainty">
		    <desc>Detail the recording approach used</desc>
		    <!--@SOURCE: ../../vocab/phase.xml-->
		</Level_of_recording>
		<gps f="notnull"/>
		<Find_This_in_The_Map l="Control/Map">
	      Find This in The Map...
	    </Find_This_in_The_Map>  
		<Boundary_criterion f="nocertainty">
		    <desc>Select criterion used in recording boundary coordinates</desc>
		    <!--@SOURCE: ../../vocab/boundary_types.xml-->
		</Boundary_criterion>
		<Device_photos t="camera" f="nocertainty">
		    <desc>Please take one or more overview shots, and if relevant, additional detailed shots of prominent features. If using a DSLR, enter relevant details below and ensure these are uploaded at days end.</desc>
		</Device_photos>
	</General>
	<Boundary f="noscroll">
		<New_Boundary_Point t="button" lc="Mound_Boundary_point"/>
		<List_of_Related_Boundary_Points t="list" ec="Mound_Boundary_point"/>
	</Boundary>
	<Landscape_context>
		<Landform_pattern>
		    <desc>300m observational unit.</desc>
		    <!--@SOURCE: ../../vocab/landform_pattern.xml-->
		</Landform_pattern>
		<Landform_element>
		    <desc>30m observational unit</desc>
		    <!--@SOURCE: ../../vocab/landform_elements.xml-->
		</Landform_element>
		<Dominant_vegetation_type>
		    <desc>30m observational unit, uppermost vegetation stratum only</desc>
		    <!--@SOURCE: ../../vocab/veg_struct_form.xml-->
		</Dominant_vegetation_type>
		<Dominant_vegetation_cover f="nocertainty">
		    <desc>Vegetation cover, 30 m observational unit, uppermost vegetation stratum only</desc>
		    <!--@SOURCE: ../../vocab/veg_struct_cov.xml-->
		</Dominant_vegetation_cover>
		<Additional_environmental_notes f="nocertainty noannotation">
		    <desc>Additional notes about landscape, vegetation, geomorphology of significance and not already captured</desc>
		</Additional_environmental_notes>
		<Morphology_type>
		    <desc>Consider the geomorphological context of the site and select most appropriate response. Use notes below for additional description or if unsure</desc>
		    <!--@SOURCE: ../../vocab/feat_morphology.xml-->
		</Morphology_type>
		<Morphology_notes f="nocertainty noannotation">
		    <desc>Record any additional notes about site morphology not captured elsewhere</desc>
		</Morphology_notes>
	</Landscape_context>
	<Feature_details>
		<Mound_matrix>
		    <desc>Select the option that best describes the matrix of the mound deposit. Use annotation for additional types</desc>
		    <!--@SOURCE: ../../vocab/mound_matrix.xml-->
		</Mound_matrix>
		<Mound_shape>
		    <desc>Select the closest mound shape, and use annotations for supplementary detail</desc>
		    <!--@SOURCE: ../../vocab/mound_shape.xml-->
		</Mound_shape>
		<Mound_length_m b="decimal">
		    <desc>Maximum length, metres</desc>
		</Mound_length_m>
		<Mound_width_m b="decimal">
		    <desc>Maximum width, metres</desc>
		</Mound_width_m>
		<Mound_height_estimate_m b="decimal">
		    <desc>Maximum height, metres</desc>
		</Mound_height_estimate_m>
		<Mound_surface_vegetation f="nocertainty">
		    <desc>Describe mound surface vegetation, particularly if distinct ecosystem is associated with the mound that is different to that of the local dominant vegetation. If so, please take at least one device photo of mound surface vegetation</desc>
		</Mound_surface_vegetation>
		<Stone_artefact_count b="integer">
		    <desc>Record a tally of stone artefacts observed on the mound surface. Use the certainty slider for estimates on large assemblages</desc>
		</Stone_artefact_count>
		<Stone_artefact_types t="checkbox">
		    <desc>Select all artefact types observed</desc>
		    <!--@SOURCE: ../../vocab/sart_gen_types.xml-->
		</Stone_artefact_types>
		<Stone_artefact_raw_materials t="checkbox">
		    <desc>Select all raw materials observed</desc>
		    <!--@SOURCE: ../../vocab/sa_rawmaterial.xml -->
		</Stone_artefact_raw_materials>
		<Historical_artefact_count b="integer">
		    <desc>Record a tally of historic artefacts observed on the mound surface. Use the certainty slider for estimates on large assemblages</desc>
		</Historical_artefact_count>
		<Historical_artefact_types t="checkbox">
		    <desc>Select all artefact types observed</desc>
		    <!--@SOURCE: ../../vocab/hart_gen_types.xml-->
		</Historical_artefact_types>
		<In_situ_hearth_count b="integer">
		    <desc>Record a tally of all in situ hearths observed on the mound surface. Use the certainty slider for estimates on larger assemblages</desc>
		</In_situ_hearth_count>
		<Heating_element_scatters t="radio">
		    <desc>Is there evidence of disturbed or remnant hearths as indicated by scatters of heating elements within the feature boundary?</desc>
		    <!--@SOURCE: ../../vocab/he_frequency.xml-->
		</Heating_element_scatters>
		<Heating_element_types_observed t="checkbox">
		    <desc>Select all heating element types observed</desc>
		    <!--@SOURCE: ../../vocab/he_types.xml-->
		</Heating_element_types_observed>
		<Faunal_materials_present t="checkbox">
		    <desc>Select all faunal materials observed</desc>
		    <!--@SOURCE: ../../vocab/faun_mat_types.xml-->
		</Faunal_materials_present>
		<Additional_notes f="nocertainty noannotation">
		    <desc>Describe any other significant features or provide additional details here</desc>
		</Additional_notes>
	</Feature_details>
	<Supplementary>
		<Paper_notes_and_sketches t="camera" f="nocertainty">
		    <desc>Photograph or otherwise upload any hard copy notes, sketches or plans associated with this feature. Ensure north arrow, approximate scale and a key are included. Use annotation for additional comments.</desc>
		</Paper_notes_and_sketches>
		<External_camera_ID f="nocertainty">
		    <desc>Select other cameras used for photography (if applicable)</desc>
		    <!--@SOURCE: ../../vocab/camera_ids.xml-->
		</External_camera_ID>
		<External_camera_file_names_and_attachment f="nocertainty">
			<desc>Provide file names and brief captions for images taken with external camera, if applicable.</desc>
		</External_camera_file_names_and_attachment>
		<External_camera_image_attachment t="file" f="nocertainty"> 
			<desc>Upload files on server, and annotate those files with captions.
			</desc>
		</External_camera_image_attachment>
		<Survey_instrument_name>
		    <desc>If recording coincides with instrument survey, please select appropriate instrument name.</desc>
		    <!--@SOURCE: ../../vocab/survey_instr.xml-->
		</Survey_instrument_name>
		<Survey_instrument_data>
		    <desc>If recording coincides with instrument survey, please detail job name logged to instrument and associated point IDs or range of IDs associated with this feature.</desc>
		</Survey_instrument_data>
	</Supplementary>		
</Mound>
<Mound_Boundary_point>
	<fmt>MD{{Mound_ID}}-BP{{Mound_Boundary_Point_ID}}</fmt>
	<Mound_Boundary_point>

		<Mound_ID f="id nocertainty" i="Mound/General/Mound_ID">
		</Mound_ID>
		<Mound_Boundary_Point_ID f="id autonum nocertainty">
		</Mound_Boundary_Point_ID>
		<timestamp f="nocertainty noannotation"/>		
		<gps f="notnull"/>
		<Find_This_in_The_Map l="Control/Map">
	      Find This in The Map...
	    </Find_This_in_The_Map>  
		<Comment f="nocertainty noannotation">
			<desc>Use this field to document any relevant information about the recorded point</desc>
		</Comment>
		<New_Boundary_Point t="button"/>

	</Mound_Boundary_point>
</Mound_Boundary_point>


<logic><![CDATA[



<!--@SOURCE: logic/sync.bsh-->
<!--@SOURCE: logic/gis-shared.bsh-->
<!--@SOURCE: logic/custom-search.bsh-->
<!--@SOURCE: logic/recent-records.bsh-->
<!--@SOURCE: logic/cascade-delete.bsh-->
<!--@SOURCE: logic/find-in-map.bsh-->
<!--@SOURCE: logic/autonumbering-validation.bsh-->
<!--@SOURCE: logic/new-record-in-boundary.bsh-->
<!--@SOURCE: logic/leave-gps-verification.bsh-->


]]></logic>

</module>

